{% extends "/page.html" %}

{% block title %}
Balance
{% endblock %}

{% block style %}
<style type="text/css">
	.mainbody>label
	{
     font-size: 25px;
	}

</style>
{% if error %}
<script type="text/javascript">
  
  alert("{{error}}")

</script>
  {% endif %}
{% endblock %}

{% block body %}
     <div class="mainbody" style="height: 200px;padding-top:50px; ">
        <form action="change_password" method="post">
          <label style="font-size: 25px;color:white">Old Password</label> &nbsp;&nbsp;&nbsp;
          <input class="data" type="password" name="oldPassword" value=""><br><br>
          <label style="font-size: 25px;color:white">New Password</label> &nbsp;&nbsp;&nbsp;
          <input class="data" type="password" name="newPassword" value=""><br><br>
          <label style="font-size: 25px;color:white">Re-Type Password</label> &nbsp;&nbsp;&nbsp;
          <input class="data" type="password" name="newPasswordrepeat" value=""><br><br>
           <input class="save_button btn_green_white_innerfade btn_medium" type="submit" id="Change_password" value="Change Password" width="104" height="25" border="0" tabindex="5">
        </form>
     </div>
{% endblock %}