{% extends "layouts/page.html" %}

{% block title %}
Steam Community Login
{% endblock %}

{% block body %}
<div class="mainLoginPanel">
 	<div class="mainLoginLeftPanel">
    	<h1>Sign In</h1><br>
		<p>To an existing Steam account</p>
		<form>
			<div class="mainLoginLeftPanel_signin">
				<label for="steamAccountName">Email</label><br>
				<input class="textField" type="text" name="username" id="steamAccountName" maxlength="64" tabindex="1" value=""><br><br>
				<label for="steamPassword">Password</label><br>
				<input class="textField" type="password" name="password" id="steamPassword" autocomplete="off" maxlength="64" tabindex="2"><br>
			</div>
			<div style="clear: both;">
				<div id="login_btn_signin"><br>
					<input class="btn_green_white_innerfade btn_medium" type="submit" id="SteamLogin" value="Sign in" width="104" height="25" border="0" tabindex="5">
				</div>
				<div class="forgotHelper">
					<a href="#">Forgot password</a>		
				</div>
			</div>
		</form>
 	</div>                     
</div>
{% endblock %}