<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="#171a21">
        <title>{% block title %}{% endblock %}</title>
        {% block style %}{% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/Title_icon.png') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/motiva_sans.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared_global.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/globalv2.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared_responsive.css') }}">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">

         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="static/js/index.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
                <link rel="stylesheet" type="text/css" href="/static/css/game_info.css">
        
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
    <body class="responsive_page">
		<div class="responsive_page_content">
			<div id="global_header">
				<div class="content">
	      			<div class="logo">
	        			<span id="logo_holder">
		    				<a href="/"><img src="/static/images/globalheader_logo.png" width="176" height="44"></a>
                		</span>
					</div>
					<div class="supernav_container">
            			<a class="menuitem supernav" href="/" >Home</a>
                        <!--<a class="menuitem supernav" href="#" >Market</a>-->
                        <!-- make it so that it shows the username if user is logged in -->
						<!--<a class="menuitem" href="/user_profile">User</a>-->
        			</div>
					<div id="global_actions">
	 					 <div id="global_action_menu">
                            <!-- make it such that when someone logs in, it shows the logout link -->
                             
                             {% if session.logged_in %}
                            <a href="/user_profile">{{session.username}}</a>
                            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a  href="/logout">Logout</a>
							
                             {% else %}
							<a  href="/login">Login</a>
							&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <a href="/register">Register</a>
                             {% endif %}
            			</div>
         			</div>
       			</div>
      		</div> 
          	<div class="responsive_page_template_content">
            	<div id="mainBody">
                    
                    {% block body %}{% endblock %}
              	</div>
          	</div>
            <div id="footer" >
						<div class="footer_content">
							<span id="footerText">© Valve Corporation. All rights reserved. 
								<span class="valve_links">
									<a href="#" target="_blank">Privacy Policy</a>
						 			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="#" target="_blank">Legal</a>
                                    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="#" target="_blank">Steam Subscriber Agreement</a>
								</span>
							</span>
                		</div>		
	     			</div>
        </div>
    </body>
</html>